nav a:hover{
    background-color: grey;
}

.nav-main li{
    display: inline-block;
    text-align: left;
}

.cat-two{
    float: left;
    height: 300px;
    width: 300px;
    margin: 1em 1em 0.5em 0;
}

.main-cat{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2{
    text-align: center;
    margin-top: 0;
}

footer{
    background-color: gray;
    margin-top: 1em;    
    padding-top: 1em;
}

/* Side 2 */

.nav-second li{
    display: inline-block;
    text-align: center;
}

.galleri{
    display: grid;
    grid-template-columns: auto auto auto;
}